<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1005758455282-aprsmoaq8ob5kbqu0ek69mk78eq8oj8d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1005758455282-aprsmoaq8ob5kbqu0ek69mk78eq8oj8d</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1005758455282-br9dgk7rpd2rg6s8o2dup69iv615md71.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCxJE6Y-WGlGeVbmgOrdoHb2Uvons56mrM</string>
	<key>GCM_SENDER_ID</key>
	<string>1005758455282</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rae.coralReef</string>
	<key>PROJECT_ID</key>
	<string>coraltrackerapp</string>
	<key>STORAGE_BUCKET</key>
	<string>coraltrackerapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1005758455282:ios:2590abf7df1b3b47475f6b</string>
</dict>
</plist>